

$darkMode: true;

@mixin darkMode {
    @if($darkMode) {
      @media(prefers-color-scheme: dark) {
        @content;
      }
    }
  }


  @mixin center_margin {
    text-align: center;
    margin-bottom: 10%;
}

@mixin text_verdana_blue{
    font-family: $font-text;
        color: $ThirdColor;
}

