@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variables';
@import 'mixin';
@import 'funzioni';

body {
    background-color: white;
    @include darkMode {
        background-color: black;
        color: white;
      }
}

.carousel-inner {
    height: 400px;
    
}

// .banner {
//     border: 1px solid black;
//     text-align: center;
//     padding: 10%;
//     background-image: url(../img/chicago.jpg) no-repeat fixed 0;
//     background-size: cover;


// }

h1 {
    color: $Fourthcolor;
}

.banner_margin{
    margin-bottom: 10%;
}
    

.banner1 {
    background: url(../img/chicago.jpg) no-repeat fixed 0;
    background-size: cover;
    @include  center;
    padding: 10%;
    
}

.banner_inner {
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    font-size: 1.5rem;
    color: black;
}

.info {
    @include  center;
    margin-bottom: 10%;
}

.partners {


    
    @include  center;
    margin-bottom: 10%;

    h1{
        margin-bottom: 10%;
    }

    img{
        width:200px;
        height:100px;
    }

    // @include darkMode {
        
    //     color: black;
    //   }
}

.logos {
    @include darkMode {
        background-color: white;
        border-radius: 0;
        
      }
}


.carousel {
    height: 400px;
    
    
    
    // img {
    //     margin: 1% 41%;
    //     border: 1PX solid black;
    //     height:100px;
        
    // }


}

.carousel-caption {
    
    
  
    img{
        width: 100px;
        margin-right: 0 100px;
     }

    h5, p {
        width: 80%;
        margin:1% 10%;
        
        @include text_verdana_blue;
        align-self: center;
    }
    padding: 10%;
    height: 100%;
   

}


.carousel-item {
  
    height: 100%;
    
    
    @include darkMode {
        background-color: white;
        color: black;
        
      }

}



.nav-link {

    color: black;
    @include darkMode {
        
        color: white;
        
      }
}

.navbar {

   i {
       color: black;

       @include darkMode {
        
        color: white;
        
      }

   }

    margin-top: 0;
    a {

    color: black;

    @include darkMode {
        
        color: white;
        
      }
    }
}

.container {
    background-color: white;
    

    @include darkMode {
        
        background-color: black;
        
      }
    }


@media screen and (max-width: 800px) {

    .logos {
        @include darkMode {

        border-radius: 15%;
        }
    }
}

.reveal{
    
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: all 2s ease;
}
      
.reveal.active{
        
    opacity: 100%;
    background-color: transparent;
    transform: translateY(0px);
        
} 

.info {

    i {
        font-size: 100px;

    }

}